<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            appEmailValidator
            required
            placeholder="Input text"
            [(ngModel)]="email"
            #emailInput="ngModel" />
          <div
            id="emailErrorMessage"
            *ngIf="emailInput.invalid && emailInput.touched">
            <span *ngIf="emailInput.errors?.['required']" class="text-danger"
              >Email is required.</span
            >
            <span
              *ngIf="emailInput.errors?.['invalidEmail']"
              class="text-danger"
              >Email is invalid.</span
            >
          </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <div class="password-input">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Input text"
              required
              appTogglePassword
              #passwordToggle="togglePassword"
              [(ngModel)]="password"
              #passwordInput="ngModel" />
            <app-button
              [iconName]="
                passwordToggle.isVisible ? IconNames.Eye : IconNames.EyeSlash
              "
              class="toggle-button"
              (click)="passwordToggle.togglePassword()"></app-button>
          </div>
          <div
            id="passwordErrorMessage"
            *ngIf="passwordInput.invalid && passwordInput.touched">
            <span *ngIf="passwordInput.errors?.['required']" class="text-danger"
              >Password is required.</span
            >
          </div>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button
            [buttonType]="ButtonType.Submit"
            [buttonText]="ButtonText.login"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may
          <strong><a routerLink="/registration">Registration</a></strong>
        </div>
      </div>
    </div>
  </form>
</div>
