<app-header>
  <p>Username</p>
  <app-button [buttonText]="ButtonText.logout"></app-button>
</app-header>
<div class="app-root">
  <!--  Info component-->
  <!--  <app-info-->
  <!--    [title]="'Your List Is Empty'"-->
  <!--    [text]="-->
  <!--      'Please use &lsquo;Add New Course&lsquo; button to add your first course'-->
  <!--    ">-->
  <!--    <app-button [buttonText]="ButtonText.addNewCourse"></app-button>-->
  <!--  </app-info>-->
  <router-outlet></router-outlet>

  <!--  &lt;!&ndash; Courses component &ndash;&gt;-->
  <!--  <app-courses></app-courses>-->

  <!--  &lt;!&ndash; Login Form component &ndash;&gt;-->
  <!--  <app-login-form></app-login-form>-->

  <!--  &lt;!&ndash;  &lt;!&ndash; Login Form component &ndash;&gt;&ndash;&gt;-->
  <!--  <app-registration-form></app-registration-form>-->

  <!--  &lt;!&ndash;  &lt;!&ndash; Login Form component &ndash;&gt;&ndash;&gt;-->
  <!--  <app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
