<app-header>
  <p>Username</p>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <!--  <app-info>-->
  <!--    <app-button [buttonText]="'add new course'"></app-button>-->
  <!--  </app-info>-->

  <!-- Course Card component -->
  <!--  <app-course-card></app-course-card>-->

  <!-- Courses component -->
  <app-courses></app-courses>

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
