<ng-container
  *ngIf="selectedCourse$ | async as selectedCourse; else courseList">
  <app-course-info [course]="selectedCourse"></app-course-info>
</ng-container>

<ng-template #courseList>
  <div class="search__panel">
    <app-search
      [placeholder]="'Input text'"
      (search)="onSearch($event)"></app-search>
    <app-button
      *ngIf="isAdmin"
      [buttonText]="ButtonText.addNewCourse"
      (click)="onClickAddCourse()"></app-button>
  </div>
  <app-courses-list
    [courses]="courses$ | async"
    [isEditable]="isAdmin"
    (showCourse)="onShowCourse($event)"
    (editCourse)="onEditCourse($event)"
    (deleteCourse)="onDeleteCourse($event)">
  </app-courses-list>
</ng-template>
