<ng-container *ngIf="selectedCourse; else courseList">
  <!-- Render course info -->
  <app-course-info
    *ngIf="selectedCourse"
    [course]="selectedCourse"></app-course-info>
</ng-container>

<ng-template #courseList>
  <div class="search__panel">
    <app-search
      [placeholder]="'Input text'"
      (search)="onSearch($event)"></app-search>
    <app-button
      [buttonText]="ButtonText.addNewCourse"
      (click)="onClickAddCourse()"></app-button>
  </div>
  <app-courses-list
    *ngIf="!selectedCourse"
    [courses]="courses"
    [isEditable]="isAdmin"
    (showCourse)="onShowCourse($event)"
    (editCourse)="onEditCourse($event)"
    (deleteCourse)="onDeleteCourse($event)">
  </app-courses-list>
</ng-template>
