<main class="course-list">
  <ng-container *ngFor="let courseAndAuthors of courses">
    <app-course-card
      [course]="courseAndAuthors"
      [isEditable]="isEditable"
      (clickOnShow)="onShowCourse(courseAndAuthors)">
      <app-button
        [iconName]="IconNames.TrashCan"
        (click)="onDeleteCourse(courseAndAuthors)"></app-button>
      <app-button
        [iconName]="IconNames.Pencil"
        (click)="onEditCourse(courseAndAuthors)"></app-button>
    </app-course-card>
  </ng-container>
</main>
