<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          placeholder="Input text"
          formControlName="title" />
        <div *ngIf="title?.invalid && title?.touched" id="titleErrorMessage">
          <span *ngIf="title?.errors?.['minlength']" class="text-danger"
            >Title must be at least 2 characters long.</span
          >
          <span *ngIf="title?.errors?.['required']" class="text-danger"
            >Title is required.</span
          >
        </div>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"
          formControlName="description"></textarea>
        <div
          *ngIf="description?.invalid && description?.touched"
          id="descriptionErrorMessage">
          <span *ngIf="description?.errors?.['minlength']" class="text-danger"
            >Description must be at least 2 characters long.</span
          >
          <span *ngIf="description?.errors?.['required']" class="text-danger"
            >Description is required.</span
          >
        </div>
      </div>

      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <input
            type="number"
            id="duration"
            placeholder="Input duration"
            formControlName="duration" />
          <div class="course__duration">
            {{ courseForm.get('duration')?.value | duration }}
          </div>
        </div>
        <div
          id="durationErrorMessage"
          *ngIf="duration?.invalid && duration?.touched">
          <span *ngIf="duration?.errors?.['required']" class="text-danger"
            >Duration is required.</span
          >
          <span *ngIf="duration?.errors?.['min']" class="text-danger"
            >Duration should not be less than 0.</span
          >
        </div>
      </div>

      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control course__panel" formGroupName="newAuthor">
        <div class="course__flex">
          <input
            type="text"
            id="author"
            placeholder="Input Author Name"
            formControlName="author" />
          <app-button
            id="createAuthor"
            [buttonText]="ButtonText.createAuthor"
            (click)="createNewAuthor()"></app-button>
        </div>
        <div
          id="authorErrorMessage"
          *ngIf="newAuthor?.invalid && newAuthor?.touched">
          <span *ngIf="newAuthor?.errors?.['invalidAuthor']" class="text-danger"
            >New author should contain only latin letters and numbers.</span
          >
          <span *ngIf="newAuthor?.errors?.['minlength']" class="text-danger"
            >New author should not be less than 2 characters.</span
          >
        </div>

        <div class="course__authors">
          <h4>Course Authors</h4>
          <p *ngIf="courseAuthors.length <= 0">Author list is empty</p>
          <ul>
            <li *ngFor="let author of courseAuthors">
              {{ author.name }}
              <app-button
                [iconName]="IconNames.TrashCan"
                (click)="removeAuthorFromCourse(author)">
              </app-button>
            </li>
          </ul>
        </div>
      </div>
      <div class="course__authors">
        <h4>Authors list</h4>
        <ul>
          <li *ngFor="let author of allAuthors">
            {{ author.name }}
            <app-button
              [iconName]="IconNames.Plus"
              [ngClass]="{ iconName: 'app-button' }"
              (click)="addAuthorToCourse(author)"></app-button>
          </li>
        </ul>
      </div>
      <div class="separator"></div>

      <div class="form__action">
        <app-button
          buttonType="submit"
          [buttonText]="ButtonText.createCourse"></app-button>
      </div>
    </div>
  </div>
</form>
